@import 'normalize';
@import 'util';

$stage-height: 30px;
$scale-height: 20px;

$border-col: #cac8bd;
$scale-col: #F4F2EA;
$scale-text-col: #4f4e4b;

* { box-sizing: border-box; }

.container {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    @include clearfix();
}

.stage-chart {
    display: block;
    border: 1px solid $border-col;
}

.scale {
    display: block;
    height: $scale-height;
    border-bottom: 1px solid $border-col;
    background-color: $scale-col;
    overflow: hidden;
    @include clearfix();
}

.scale-title {
    float: left;
    width: 10%;
    height: $scale-height;
}

.scale-cells {
    border-left: 1px solid $border-col;
    position: relative;
    float: right;
    width: 90%;
}

.scale-cell {
    border-right: 1px solid $border-col;
    float: left;
    text-align: center;
    height: $scale-height;
    color: $scale-text-col;
    font-size: 12px;
}

.bay {
    display: block;
    border-bottom: 1px solid $border-col;
    @include clearfix();
}

.bay-title {
    float: left;
    width: 10%;
    padding: 3px;
}

.stages {
    position: relative;
    float: right;
    height: 100%;
    width: 90%;
    border-left: 1px solid $border-col;
    overflow: hidden;
}

.stage-row {
    position: relative;
    height: $stage-height;
    width: 100%;
}

.stage-row:not(:last-child) {
    border-bottom: 1px dashed #ccc;
}

.stage {
    position: absolute;

    top: 0;
    left: 0;
    width: 10%;
    height: $stage-height;
    line-height: $stage-height;

    font-size: 11px;

    border-style: solid;
    border-width: 1px;
    border-radius: 2px;

    cursor: pointer;
    overflow: hidden;
}

@mixin stage-status($color, $background) {
    background-color: $background;
    border-color: darken($background, 20%);
    color: $color;

    & .stage-progress {
        background-color: darken($background, 10%);
    }
}

.stage-progress {
    padding-left: 4px;
}

.stage-status-pending {
    @include stage-status(#464646, rgb(242, 244, 209));
}

.stage-status-started {
    @include stage-status(#1b1357, rgba(223, 238, 221, 1));
}

.stage-status-ready {
    @include stage-status(#3d1717, rgba(238, 219, 232, 1));
}

.stage-status-active {
    @include stage-status(#ecf9ed, rgba(53, 148, 53, 1));
}

.stage-status-scheduled {
    @include stage-status(#1f3262, rgba(242, 242, 242, 1));
}
