$stage-height: 30px;
$scale-height: 20px;

$border-col: #cac8bd;
$scale-col: #F4F2EA;
$scale-text-col: #4f4e4b;

@import 'normalize';
@import 'util';
@import 'stages';


* { box-sizing: border-box; }

.container {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    @include clearfix();
}

.stage-chart {
    display: block;
    border: 1px solid $border-col;
}

.scale {
    display: block;
    height: $scale-height;
    border-bottom: 1px solid $border-col;
    background-color: $scale-col;
    overflow: hidden;
    @include clearfix();
}

.scale-title {
    float: left;
    width: 10%;
    height: $scale-height;
}

.scale-cells {
    border-left: 1px solid $border-col;
    position: relative;
    float: right;
    width: 90%;
}

.scale-cell {
    border-right: 1px solid $border-col;
    float: left;
    text-align: center;
    height: $scale-height;
    color: $scale-text-col;
    font-size: 12px;
}

.bay {
    display: block;
    border-bottom: 1px solid $border-col;
    @include clearfix();
}

.bay-title {
    float: left;
    width: 10%;
    padding: 3px;
}

.stages {
    position: relative;
    float: right;
    height: 100%;
    width: 90%;
    border-left: 1px solid $border-col;
    overflow: hidden;
}

.stage-row {
    position: relative;
    height: $stage-height;
    width: 100%;
}

.stage-row:not(:last-child) {
    border-bottom: 1px dashed #ccc;
}
