@import 'config';
@import 'normalize';
@import 'util';
@import 'stages';

* { box-sizing: border-box; }

.container {
    margin-left: 20px;
    margin-right: 20px;
    @include clearfix();
}

.stage-chart {
    display: block;
    width: 100%;
    border: 1px solid $border-col;
    margin: 50px auto;
}

.scale {
    display: block;
    height: $scale-height;
    border-bottom: 1px solid $border-col;
    background-color: $scale-col;
    overflow: hidden;
    @include clearfix();
}

.bay-title,
.scale-title {
    display: table-cell;
    padding: 3px;
    width: 120px;
}

.scale-title {
    height: $scale-height;
}

.scale-cells {
    position: relative;
    display: table-cell;
    width: auto;
    border-left: 1px solid $border-col;
}

.scale-cell {
    border-right: 1px solid $border-col;
    float: left;
    text-align: center;
    height: $scale-height;
    color: $scale-text-col;
    font-size: 13px;
}

.bay-title {
    text-align: left;
    vertical-align: top;
    background-color: #efefef;
}

.bay {
    display: table;
    width: 100%;
    border-bottom: 1px solid $border-col;
    @include clearfix();
}
