<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Gantt Chart</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="container">
            <h3>Stages</h3>
            <div class="stage-chart">
                <div class="scale">
                    <div class="scale-title">
                    </div>
                    <div class="scale-cells">
                        <div
                            class="scale-cell"
                            v-for="scale in scaleCells"
                            v-bind:style="cellStyle"
                        >
                            {{ scale.amount }}
                        </div>
                    </div>
                </div>
                <div class="bay" v-for="bay in bays">
                    <div class="bay-title">
                        {{ bay.name }}
                    </div>
                    <div class="stages">
                        <stage v-for="stage in bay.stages" :stage="stage"></stage>
                    </div>
                </div>
            </div>
        </div>

        <script type="x/template" id="stage-template">
            <div class="stage-row">
                <div
                    class="stage"
                    v-bind:style="style"
                    v-bind:class="statusClass"
                    v-on:dragstart="dragStart"
                    v-on:drag="dragging"
                    v-on:dragend="dragEnd"
                    draggable="true"
                >
                    <div
                        class="stage-progress"
                        v-bind:style="{ width: progress }"
                    >
                        {{ progress }}
                    </div>
                    Stage {{ stage.stageNo }}
                </div>
            </div>
        </script>
        <script src="/main.js"></script>
    </body>
</html>
