<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Scheduler Prototype</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div class="stage-chart">
            <div class="scale">
                <div class="scale-title">
                </div>
                <div class="timeline-days">
                    <div class="timeline-day-cell"
                        v-for="day in dayCells"
                    >
                        <span class="timeline-day">
                            {{ day.format('dddd') }}<br>
                            {{ day.format('MMMM Do') }}
                        </span>
                        <div class="timeline-hours">
                            <div
                                class="timeline-hour-cell"
                                v-for="hour in hourCells"
                                v-bind:style="hourStyle"
                            >
                                {{ hour }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bay" v-for="bay in bays">
                <div class="bay-title">
                    {{ bay.name }}<br>
                    <button v-on:click="autoSchedule(bay)" class="btn btn-primary">Sort All</button>
                </div>
                <div class="stages">
                    <stage v-for="stage in bay.stages" :stage="stage"></stage>
                </div>
            </div>
        </div>

        <script type="x/template" id="stage-template">
            <div class="stage-row">
                <div class="stage-info">
                    <span class="stage-order-customer">{{ stage.customer }}</span><br>
                    <span class="stage-order-number">#{{ stage.orderNo }}</span>
                </div>
                <div class="stage-timeline">
                    <div
                        class="stage"
                        v-bind:style="style"
                        v-bind:class="statusClass"
                        v-on:click="handleClick"
                        v-on:dragstart="dragStart"
                        v-on:drag="dragging"
                        v-on:dragend="dragEnd"
                        draggable="true"
                    >
                        <span class="stage-worktype">
                            {{ stage.workType }}
                        </span>
                        <span
                            class="stage-progress-meter"
                            v-bind:style="{ width: progress + '%' }"
                        ></span>
                    </div>
                </div>
            </div>
        </script>
        <script src="main.js"></script>
    </body>
</html>
